In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('CKD.csv')

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset= pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [7]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes',]]
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [8]:
dependent= dataset[['classification_yes']]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [10]:
# from sklearn.preprocessing import StandardScaler
# sc=StandardScaler()
# X_train_= sc.fit_transform(x_train)
# X_test_= sc.transform(x_test)

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
param_grid={'criterion':['gini', 'entropy', 'log_loss'],'splitter':['best','random'],'max_features':[None,'auto','sqrt','log2']}
grid=GridSearchCV(DecisionTreeClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.87740506 0.95490506 0.97       0.95740506 0.8825     0.96740506
 0.95496835 0.95993671 0.8775     0.96996835 0.96496835 0.985
 0.88908228 0.9675     0.8825     0.97996835        nan        nan
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': [None, 'auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [12]:
re=grid.cv_results_
re
print(re)
grid_predictions = grid.predict(x_test)

{'mean_fit_time': array([0.01239328, 0.00879459, 0.00799584, 0.00879455, 0.00919523,
       0.01019368, 0.00999298, 0.00979519, 0.01099181, 0.00999475,
       0.00959678, 0.00899601, 0.01079469, 0.00979505, 0.00959606,
       0.01219549, 0.00699596, 0.00899434, 0.00839491, 0.00939431,
       0.00819559, 0.00799561, 0.00899467, 0.007794  ]), 'std_fit_time': array([0.00215264, 0.00213414, 0.00126437, 0.00171837, 0.00116591,
       0.00240288, 0.00228014, 0.00160057, 0.00178827, 0.00141232,
       0.00319817, 0.00089612, 0.00194024, 0.0017196 , 0.00135559,
       0.00160106, 0.00109445, 0.00227939, 0.0017434 , 0.00249587,
       0.0014681 , 0.00109419, 0.00268158, 0.00074696]), 'mean_score_time': array([0.00359983, 0.00439816, 0.00359821, 0.00399661, 0.00619779,
       0.00339594, 0.00359855, 0.00519543, 0.00399852, 0.00439734,
       0.00419693, 0.00379634, 0.00339675, 0.00359869, 0.00399628,
       0.00479517, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        ]), 'std_score_time': array([0.00048752, 0.00079951, 0.00049018, 0.00109458, 0.00318505,
       0.00049084, 0.00079923, 0.0027122 , 0.00109445, 0.0010192 ,
       0.00116662, 0.00116467, 0.00048854, 0.00048969, 0.00126275,
       0.00172091, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        ]), 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'log_loss',
                   'log_loss', 'log_loss', 'log_loss', 'log_loss',
                   'log_loss', 'log_loss', 'log_loss'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_features': masked_array(data=[None, None, 'auto', 'auto', 'sqrt', 'sqrt', 'log2',
                   'log2', None, None, 'auto', 'auto', 'sqrt', 'sqrt',
                   'log2', 'log2', None, None, 'auto', 'auto', 'sqrt',
                   'sqrt', 'log2', 'log2'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_splitter': masked_array(data=['best', 'random', 'best', 'random', 'best', 'random',
                   'best', 'random', 'best', 'random', 'best', 'random',
                   'best', 'random', 'best', 'random', 'best', 'random',
                   'best', 'random', 'best', 'random', 'best', 'random'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'criterion': 'gini', 'max_features': None, 'splitter': 'best'}, {'criterion': 'gini', 'max_features': None, 'splitter': 'random'}, {'criterion': 'gini', 'max_features': 'auto', 'splitter': 'best'}, {'criterion': 'gini', 'max_features': 'auto', 'splitter': 'random'}, {'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'best'}, {'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'random'}, {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'best'}, {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': None, 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': None, 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': 'auto', 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': 'auto', 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': 'sqrt', 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': 'sqrt', 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': 'log2', 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': 'log2', 'splitter': 'random'}, {'criterion': 'log_loss', 'max_features': None, 'splitter': 'best'}, {'criterion': 'log_loss', 'max_features': None, 'splitter': 'random'}, {'criterion': 'log_loss', 'max_features': 'auto', 'splitter': 'best'}, {'criterion': 'log_loss', 'max_features': 'auto', 'splitter': 'random'}, {'criterion': 'log_loss', 'max_features': 'sqrt', 'splitter': 'best'}, {'criterion': 'log_loss', 'max_features': 'sqrt', 'splitter': 'random'}, {'criterion': 'log_loss', 'max_features': 'log2', 'splitter': 'best'}, {'criterion': 'log_loss', 'max_features': 'log2', 'splitter': 'random'}], 'split0_test_score': array([0.5125, 0.9375, 0.925 , 0.875 , 0.525 , 0.95  , 0.9125, 0.8625,
       0.5125, 0.9625, 0.9125, 0.975 , 0.9125, 0.9625, 0.575 , 0.925 ,
          nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan]), 'split1_test_score': array([0.95  , 0.95  , 0.9625, 1.    , 0.975 , 0.975 , 0.9625, 1.    ,
       0.95  , 0.9625, 1.    , 0.975 , 0.975 , 0.9875, 0.9375, 1.    ,
          nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan]), 'split2_test_score': array([0.975 , 0.95  , 0.9625, 0.9625, 0.9125, 0.95  , 0.925 , 0.9875,
       0.9375, 0.975 , 0.9625, 0.975 , 0.9625, 1.    , 0.9125, 0.9875,
          nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan]), 'split3_test_score': array([0.9875, 0.975 , 1.    , 0.9875, 1.    , 1.    , 0.9875, 0.975 ,
       0.9875, 0.9625, 0.9625, 1.    , 0.9625, 0.8875, 0.9875, 1.    ,
          nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan]), 'split4_test_score': array([0.96202532, 0.96202532, 1.        , 0.96202532, 1.        ,
       0.96202532, 0.98734177, 0.97468354, 1.        , 0.98734177,
       0.98734177, 1.        , 0.63291139, 1.        , 1.        ,
       0.98734177,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan]), 'mean_test_score': array([0.87740506, 0.95490506, 0.97      , 0.95740506, 0.8825    ,
       0.96740506, 0.95496835, 0.95993671, 0.8775    , 0.96996835,
       0.96496835, 0.985     , 0.88908228, 0.9675    , 0.8825    ,
       0.97996835,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan]), 'std_test_score': array([0.18288356, 0.01269299, 0.02806243, 0.0437217 , 0.1815902 ,
       0.0187346 , 0.0311921 , 0.04960461, 0.18394972, 0.00994467,
       0.02997632, 0.01224745, 0.12987232, 0.04227884, 0.15704299,
       0.02805404,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan]), 'rank_test_score': array([16, 11,  3,  9, 13,  6, 10,  8, 15,  4,  7,  1, 12,  5, 13,  2, 17,
       18, 19, 20, 21, 22, 23, 24])}

In [13]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [14]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[45  0]
 [ 0 75]]

In [15]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        45
           1       1.00      1.00      1.00        75

    accuracy                           1.00       120
   macro avg       1.00      1.00      1.00       120
weighted avg       1.00      1.00      1.00       120